<a href="https://colab.research.google.com/github/mshchurska/mariia_shchurska/blob/main/9_1_assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Assignment 9.1

> Replace all TODOs with your code. Do not change any other code.

In [54]:
# Do not edit this cell

import numpy as np
import pandas as pd

## Numpy

### Task 1

Create a 1D numpy array with elements [1, 2, 3, 4, 5]. Do it in two different ways.

In [3]:
res = np.array([1, 2, 3, 4, 5])

print(res)

[1 2 3 4 5]

In [4]:
res2 = np.arange(1, 6)

print(res2)

[1 2 3 4 5]

### Task 2

Create a 2D numpy array with shape (3, 5) filled with random integers between 1 and 100.

In [20]:
res3 = np.random.randint(1, 100, (3,5))
print(res3)

[[ 3 39  3 42 44]
 [39 36 94 61 54]
 [63 65 88 56 35]]

### Task 3

Print the first row of array `res3`.

In [28]:
print(res3[0])

[ 3 39  3 42 44]

### Task 4

Access the last column of array `res3`. Assume that the array may be of any 2D shape.

In [29]:
print(res3[:, -1])

[44 54 35]

### Task 5

Find the min, max, and sum of elements of the second column of array `res3`.

In [30]:
# Min
res_min = min(res3[:, 1])

print('min =', res_min)

min = 36

In [33]:
# Max
res_max = max(res3[:, 1])

print('max =', res_max)

max = 65

In [34]:
# Sum
res_sum =sum(res3[:, 1])

print('sum =', res_sum)

sum = 140

### Task 6

Tabulate the function

$$f(x) = e^{2x}$$

on interval `[0, 1]` with step 0.1.

By "tabulate" we mean that we want to have a table (1D array), where on the first position we will have the function value for 0, on the second position 0.1, and so on.

In [35]:
x = np.arange(0, 1.1, 0.1)
f_x = np.exp(2 * x)

print(f_x)

[1.         1.22140276 1.4918247  1.8221188  2.22554093 2.71828183
 3.32011692 4.05519997 4.95303242 6.04964746 7.3890561 ]

## Pandas

We will be working on the classic dataset for beginner data scientists: Titanic passengers.

### Task 7

Load the dataset from the following URL: https://web.stanford.edu/class/cs102/datasets/Titanic.csv

In [55]:
url = "https://web.stanford.edu/class/cs102/datasets/Titanic.csv"
df = pd.read_csv(url)
print(df)
df.head()

          last                                       first gender   age  \
0       Braund                             Mr. Owen Harris      M  22.0
1      Cumings  Mrs. John Bradley (Florence Briggs Thayer)      F  38.0
2    Heikkinen                                  Miss Laina      F  26.0
3     Futrelle          Mrs. Jacques Heath (Lily May Peel)      F  35.0
4        Allen                           Mr. William Henry      M  35.0
..         ...                                         ...    ...   ...
886   Montvila                                 Rev. Juozas      M  27.0
887     Graham                         Miss Margaret Edith      F  19.0
888   Johnston               Miss Catherine Helen "Carrie"      F   NaN
889       Behr                             Mr. Karl Howell      M  26.0
890     Dooley                                 Mr. Patrick      M  32.0

     class     fare     embarked survived
0        3   7.2500  Southampton       no
1        1  71.2833    Cherbourg      yes
2        3   7.9250  Southampton      yes
3        1  53.1000  Southampton      yes
4        3   8.0500  Southampton       no
..     ...      ...          ...      ...
886      2  13.0000  Southampton       no
887      1  30.0000  Southampton      yes
888      3  23.4500  Southampton       no
889      1  30.0000    Cherbourg      yes
890      3   7.7500   Queenstown       no

[891 rows x 8 columns]

,last,first,gender,age,class,fare,embarked,survived
0,Braund,Mr. Owen Harris,M,22.0,3,7.2500,Southampton,no
1,Cumings,Mrs. John Bradley (Florence Briggs Thayer),F,38.0,1,71.2833,Cherbourg,yes
2,Heikkinen,Miss Laina,F,26.0,3,7.9250,Southampton,yes
3,Futrelle,Mrs. Jacques Heath (Lily May Peel),F,35.0,1,53.1000,Southampton,yes
4,Allen,Mr. William Henry,M,35.0,3,8.0500,Southampton,no

### Task 8

Let's see the series/columns present in the data frame.

Also, let's inspect the first ten rows of data.

In [41]:
print(df.columns)

Index(['last', 'first', 'gender', 'age', 'class', 'fare', 'embarked',
       'survived'],
      dtype='object')

In [42]:
df.head(10)

,last,first,gender,age,class,fare,embarked,survived
0,Braund,Mr. Owen Harris,M,22.0,3,7.2500,Southampton,no
1,Cumings,Mrs. John Bradley (Florence Briggs Thayer),F,38.0,1,71.2833,Cherbourg,yes
2,Heikkinen,Miss Laina,F,26.0,3,7.9250,Southampton,yes
3,Futrelle,Mrs. Jacques Heath (Lily May Peel),F,35.0,1,53.1000,Southampton,yes
4,Allen,Mr. William Henry,M,35.0,3,8.0500,Southampton,no
5,Moran,Mr. James,M,NaN,3,8.4583,Queenstown,no
6,McCarthy,Mr. Timothy J,M,54.0,1,51.8625,Southampton,no
7,Palsson,Master Gosta Leonard,M,2.0,3,21.0750,Southampton,no
8,Johnson,Mrs. Oscar W (Elisabeth Vilhelmina Berg),F,27.0,3,11.1333,Southampton,yes
9,Nasser,Mrs. Nicholas (Adele Achem),F,14.0,2,30.0708,Cherbourg,yes

### Task 9

Add a new column - full name - it should be a concat of the first and last name.

In [56]:
df['full_name']=df['first']+' '+df['last']
df.head(2)

,last,first,gender,age,class,fare,embarked,survived,full_name
0,Braund,Mr. Owen Harris,M,22.0,3,7.2500,Southampton,no,Mr. Owen Harris Braund
1,Cumings,Mrs. John Bradley (Florence Briggs Thayer),F,38.0,1,71.2833,Cherbourg,yes,Mrs. John Bradley (Florence Briggs Thayer) Cum...

### Task 10

Remove the two original columns - last, first.

In [57]:
del df["first"]
del df["last"]
df.head(2)

,gender,age,class,fare,embarked,survived,full_name
0,M,22.0,3,7.2500,Southampton,no,Mr. Owen Harris Braund
1,F,38.0,1,71.2833,Cherbourg,yes,Mrs. John Bradley (Florence Briggs Thayer) Cum...

### Task 11

Calculate the total number of survivors in the dataset.

In [68]:
df[df['survived']=='yes'].shape[0]

342